<form [formGroup]="form" (submit)="submit(form)">
  <app-multiselect [formControlName]="'multiselect'"
                   [list]="list"
                   [multi]="true"
                   [bindValue]="'id'"
                   [bindLabel]="'name'">
  </app-multiselect>
  <label>
    <input type="submit" value="Submit">
  </label>
</form>
