.selected {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: burlywood;
  padding: 5px;
  width: 300px;

  p {
    margin: 2px;
    padding: 2px 5px;
    background-color: cadetblue;
    color: white;
    user-select: none;

    span {
      color: red;
      cursor: pointer;
    }
  }

  input {
    padding: 2px 5px;
    margin: 2px;
    display: block;
    background: none;
    border: none;
    outline: none;
  }

  .closeList {
    position: absolute;
    cursor: pointer;
    color: red;
    font-size: 20px;
    margin: 2px 5px;
    right: 0;
    top: 0;
  }
}

::ng-deep .list {
  width: 310px;
  background-color: bisque;
  max-height: 150px;
  overflow-y: scroll;

  p {
    margin: 0;
    padding: 2px 0;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: burlywood;
    }
  }
}
