<div appClickOutside (clickOutside)="closeList($event)">
  <div class="selected" cdk-overlay-origin>
    <p *ngFor="let item of selected">{{cutString(item.bindLabel)}}
      <span (click)="removeItemFromSelected(item)">x</span></p>
    <label for="input"></label>
    <input id="input" type="text" (keyup)="setAutocompleteList($event.target.value)" (focus)="openList()">
    <span (click)="closeList()" class="closeList">x</span>
  </div>

  <ng-template cdkPortal>
    <div class="list">
      <p class="listItem" *ngFor="let item of autocompleteList" (click)="setValue(item)">{{item.bindLabel}}</p>
    </div>
  </ng-template>
</div>
